.second-navbar {
  
  margin: 25px 0px 0px 0px;
  
  width: 100%;
}

.btn-settings {
  padding: 0px 12px;
  height: 50px;
  border: 1px solid rgb(214, 212, 212);
  color: black;
  
}

.btn-settings:hover {
  background-color: white;
  border: 1px solid rgb(214, 212, 212);
  color: black;
}

.btn-filters {
  margin-left: 15px;
}

.label-filters {
  font-size: 13px;
  margin-left: 10px;
}

.btn-taxes  {
  margin-left: 15px;
}

.label-taxes {
  font-size: 13px;
  margin-right: 10px;
}

.form-switch {
  font-size: 25px;
  padding: 0px;
}

.form-check-input {
  margin: 0px !important ;
}