.carousel-div {
  width: 10%;
  
}

.btn-carousel {
 border: solid grey 1px;
 border-radius: 50%;
 height: 35px;
 width: 35px;
 justify-content: center;
 align-content: center;
}

.bi-carousel-arrow {
  color: black;
  font-size: 20px; 
}

.btn.btn-style {
  border-bottom: solid 2px white;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  padding: 6px 18px;
  font-size: 13px;
}

/* .btn.btn-style.btn-first {
  padding-left: 0px;
} */

.btn-style:hover {
  border-bottom: solid 2px gray;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.bi-carousel {
  font-size: 20px;
}





