.searching-bar-main-container {
  width: 520px;
}

.searching-bar-container {
  
  border: 1px solid rgb(214, 212, 212);
  border-bottom-left-radius: 21px;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
  background-color: white;
  box-shadow: 1px 1px 2px   rgba(128, 128, 128, 0.313);;
}

.searching-bar-container:hover {
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.313);
}

.search-group {
  padding: 10px;
  font-weight: 400;
  
}

.modal-dialog {
  max-width: 80%;
}

.modal-header {
  border-bottom: none;
}

.btn-left {
  padding-left: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 21px;
  border-top-left-radius: 21px;
}

.btn-middle {
  border-radius: 0%;
}

.btn-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
}

.btn-search {
  border-radius: 50%;
  padding: 4px 9px;
  height: 16px;
  background-color: #49a4f5;
}

.bi-search {
  color: white;
}

.search-button-span {
  margin-left: 10px;
  background-color: #6ae155;
  border-radius: 50%;
  padding: 6px 9px;
}

.nav-tabs {
  background-color: rgb(222, 222, 222);
}

.btn-primary {
  background-color: #6ae155;
  border:  #6ae155;
}

.btn-primary:hover {
  background-color: #5dc74b;
}

.tab5 {
  height: 0px;
}

