.navbar {
  border-bottom: 1px solid grey;
  height: 80px;
  font-size: 14px;
  padding: 0px 40px;
}

.nav-bar-link {
  text-decoration: none;
  color: #212529 ;
}

.modal-80 {
  max-width: 80%;
}

.middle {
  margin-right: 1rem;
}