/* body {
  font-family: roboto;
}


body {
  font-family: roboto;
}

.navbar {
  border-bottom: 1px solid rgb(214, 212, 212);
  height: 80px;
  font-size: 14px;
  padding: 0px 80px;
  background-color: rgb(252, 251, 251);
}

.navbar-container {
  margin: 0px;
  padding: 0px;
}

.cards-container {
  margin: 0 auto;
  
  
}



.nav-bar-link {
  text-decoration: none;
  color: #212529 ;
  font-weight: 500;
}



.modal-80 {
  max-width: 80%;
}

.middle {
  margin-right: 1rem;
}

.btn-share {
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.btn-share:hover {
  background-color: rgb(245, 245, 245);
}

 .logo {
  text-decoration: none;
  color: #6ae155 ;
  font-size: 20px;
  font-weight: bold;
}

.brand-name {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding: 3px 0px 0px 5px;
}

 .bi-1-circle {
  font-size: 36px;
  color: #6ae155;

}


 */

 .brand-name {
  font-size: 26px;
  font-weight: 500;
  color: #42b82e;
}



